{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "kontent-ai"
    ],
    "parserOptions": {
      "project": ["tsconfig.json", "tsconfig.test.json"]
    },
    "rules": {
      // I prefer union types of literals with string for brevity
      "@typescript-eslint/no-redundant-type-constituents": "warn"
    }
  }