{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "kontent-ai"
    ],
    "parserOptions": {
      "project": ["tsconfig.json", "tsconfig.test.json"]
    },
  }