{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "kontent-ai"
  ],
  "parserOptions": {
    "tsconfigRootDir": ".",
    "project": ["./tsconfig.eslint.json"],
    "createDefaultProgram": false
  },
  "ignorePatterns": [
    "node_modules",
    "packages/*/dist",
    "dist",
    "coverage",
    "media",
    "showcase",
    "**/*.d.ts"
  ]
}