# repo metadata
.github/**

# tests
tests/**
jest.config.cjs
tsconfig.test.json

# source
src/**
index.ts

# docs
media/**
docs/**
showcase/**

# misc
/.gitignore
/.npmignore
/tsconfig.json
/.eslintrc
