name: Test & build

on:
  push:
    branches: [main]
  pull_request:


permissions:
  contents: read
  id-token: write  # <- required for OIDC


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      
      - name: Use Node.js from .nvmrc file
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"
      - run: pnpm install --frozen-lockfile
      - run: pnpm turbo run build lint biome:check
      - run: pnpm run test:coverage
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          directory: ./packages
          flags: unittests
          name: codecov-umbrella
          use_oidc: true
